<%- include("header") -%>

<div class="box" id="heading">
  <h1>This is the about page</h1>
</div>

<div class="box">
  <p>There isn't much to see here, move along!</p>
</div>


<%- include("footer") -%>